{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Wpisy</title>
        <link rel="stylesheet" href="{% static 'style.css'%}">
    </head>
    <body>
        <header class="wrapper">
            <h1> <a href="{% url 'Start' %}"><img src="{%static 'logo.png' %}" alt="cyberpunk"/></a></h1>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <form class="logout-link" action="{% url 'konta:logout' %}" method="post">
                                {% csrf_token %}
                                <button type="submit">Wyloguj</button>
                            </form>
                        </li>
                        <li><a href="{% url 'wpisy:nowy' %}" class="highlight">Nowy Wpis na Bloga</a></li>
                    {% else %}
                        <li> <a href=" {% url 'konta:login' %}">Zaloguj</a></li>
                        <li> <a href=" {% url 'konta:rejestracja' %}">Rejestracja</a></li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <div class="wrapper">
            {% block content %}
            
            {% endblock %}    
        </div>
    </body>

</html>

