 {% extends 'baza.html' %}
 
{% block content %}
 <h1>Lista wpisów na blog</h1>
        <div class="wpisy">
            {% for wpis in wpisy %}
                <div class="wpis">
                    <h2><a href="{% url 'wpisy:detail' slug=wpis.slug %}"> {{wpis.title}} </a> </h2>
                    <p>{{ wpis.przycinanie }}</p>
                    <p>{{ wpis.date }}</p> 
                    <p class="author"> dodany przez {{ wpis.autor.username }}</p>                   
                </div>


            {% endfor %}

            

        </div>
{% endblock %}
